.movieContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  padding: 20px 20px;
  padding-top: 100px;
  background: #C9CED3;
  
}

.titlePopular{
  display: inline;
  position: relative;
  top: 80px;
  left: 20px;
	color: var(--title-clr);
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.movieItem{
  max-width: 400px;
  max-height: 550px;
  margin: 10px 5px;
  background: #E7E7E7;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 15px 30px 5px rgba(0,0,0,0.5);
  cursor: pointer;
  /* justify-self: center; */

}

.movieItem:hover{
  transform: scale(1.01);
}

.imgContainer{
  display: flex;
  justify-content: center;
  position: relative;
  top: -40px;
}

.movieItem img{
  border-radius: 10px;
  max-width: 350px;
  max-height: 350px;
  box-shadow: 0 15px 30px 5px rgba(0,0,0,0.8);
}

.movieTitle{
  font-size:1.5rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2px 0;
}

.movieReleaseDate{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 2px;
  color: rgb(132, 128, 128);
}

.movieInfo{
  position: relative;
  top: -30px;
}

@media screen and (max-width:1400px ) {
  .movieContainer{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width:1080px){
  .movieItem img{
    max-width: 300px;
    max-height: 300px;
  }

}


@media screen and (max-width:900px){
  .movieTitle{
    font-size: 1.2rem;
  }

  .movieContainer{
    grid-template-columns: 1fr 1fr;
  }

}


@media screen and (max-width:600px){
  .titlePopular{
    font-size: 1.8rem;
  }
  .movieItem img{
    max-width: 200px;
    max-height: 200px;
  }
  .movieTitle{
    font-size: 1.2rem;
  }

  .description{
    font-size: 0.9rem;
  }


}


@media screen and (max-width:500px){

  .movieItem img{
    max-width: 150px;
    max-height: 150px;
  }

  .movieTitle{
    font-size: 0.8rem;
    font-weight: 700;
  }

  .movieReleaseDate{
    font-size: 0.7rem;
  }


  .description{
    display: none;
  }
}
